.myz-web-highlight {
    background: #38bdf8;
    color: white;
}

.myz-web-highlight-sub {
    background: #b58900;
    color: white;
}

.myz-web-underline {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-color: #34d399;
    text-underline-offset: 0.12em;
}

.myz-web-wavy {
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-color: #9f7aea;
    text-underline-offset: 0.12em;
}

.myz-web-danmaku {
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    background: rgba(0, 0, 0, 0.62);
    color: #fff;
    white-space: nowrap;
    border-radius: 999px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}